name: CI

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened
    branches: [main]
  push:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: uv sync --extra dev

      - name: Linting
        run: uv run pre-commit run --all-files

  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    timeout-minutes: 15
    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --extra dev

      # Uncomment when you have real tests
      # - name: Run unit tests
      #   run: uv run pytest

#      - name: Test CLI functionality
#        run: make test-cli
#
#      - name: Build package
#        run: make build
